# Base ignore entries
venv/
__pycache__/
*.pyc
*.py[cod]
*$py.class
.Python
*.so
dist/
build/
*.egg-info/
.env
.venv/
.idea/
.vscode/
**/aws_console_access.txt
AWS/*/.env
.aws/
AWS/elasticbeanstalk/credentials/
.elasticbeanstalk/*
!.elasticbeanstack/*.cfg.yml
!.elasticbeanstack/*.global.yml
.git/
.DS_Store
*.pem
*.key
*.crt
*.zip
.pytest_cache/
.coverage
htmlcov/
*.log
*.sqlite
*.db
node_modules/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
